<br><br><div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-active">
                <th>Airport Code</th>
                <th>Airport Name</th>
                <th>Airport Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let airport of airports'>
                <td>{{airport.airportCode}}</td>
                <td>{{airport.airportName}}</td>
                <td>{{airport.airportLocation}}</td>
            </tr>
        </tbody>
    </table>
    </div>